[submodule ".deploy_git"]
	path = .deploy_git
	url = git@github.com:InvalidCode/InvalidCode.github.io.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:InvalidCode/maupassant-hexo.git
